html {
  scroll-snap-type: y mandatory;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1027px;
  height: 70vh;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 96% 24%, 96% 74%, 100% 100%, 0 100%, 4% 73%, 4% 24%);
  scroll-snap-align: center;
  margin-bottom: 10vh;
}

.container:first-child {
  margin-top: 10vh;
}

.container:last-child {
  margin-bottom: 10vh;
}

.arrow-button {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  border: none;
  align-self: center;
}
