html {
  scroll-snap-type: y mandatory;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-gallery-container {
  display: flex;
  position: relative;
}

.scrollable-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1027px;
  height: 70vh;
  margin-bottom: 10vh;
  scroll-snap-align: center;
}

.container:first-child {
  margin-top: 10vh;
}

.container:last-child {
  margin-bottom: 20vh;
}

.arrow-button {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  border: none;
  align-self: center;
}

.left-border,
.right-border {
  width: 150px;
  background-color: darkgray;
  position: sticky;
  top: 0;
  height: 170vh;
  border-radius: 50%;
  margin: -35px;
  z-index: 3;
  top: -35vh;
}

.left-border {
  left: 0;
  clip-path: inset(0 0 0 60%);
}

.right-border {
  right: 0;
  clip-path: inset(0 60% 0 0);
}
